<p class="shopping-total">Totale: <b><span class="value"><%= object.total ? object.total : '-' %></span></b></p>
<p class="shopping-total">Oggetti: <span class="value"><%= object.items.count %></span></p>
