<p class="shopping-total">
  Totale:
  <span data-cart-price-view><%= object.price %></span>
</p>

<p class="shopping-total">
  Oggetti:
  <span data-cart-quantity-view><%= object.items.count %></span>
</p>
