<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nuovo profilo completato</title>
  </head>
  <body>
    L'utente <%= link_to @user.full_name, admin_user_url(@user) %> ha completato il suo profilo.
    Accedi al suo <%= link_to 'profilo', admin_user_url(@user) %> per attivarlo o cancellarlo.
  </body>
</html>
