<div class="field-unit__label">
  <%= f.label t("resource_attributes.#{field.attribute}") %>
</div>
<div class="field-unit__field">
  <%= f.select(
    field.attribute,
    options_from_collection_for_select(
      field.selectable_options,
      'key',
      'label',
      field.data,
    )
  ) %>
</div>
