<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantità</th>
      <th>Scorta</th>
      <th>Importo unitario</th>
      <th>Totale</th>
    </tr>
  </thead>
  <tbody>
    <% @list.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_field_tag "item_#{item.id}", 0, in: (0..item.stock_count), data: { item_control: true } %></td>
        <td><%= item.stock_count %></td>
        <td><%= item.unitary_amount %></td>
        <td><span data-total="true">0</span></td>
      </tr>
    <% end %>
  </tbody>
</table>
